<!--
Copyright (c) 2024 Sami Menik, PhD. All rights reserved.

This is a project developed by Dr. Menik to give the students an opportunity to apply database concepts learned in the class in a real world project. Permission is granted to host a running version of this software and to use images or videos of this work solely for the purpose of demonstrating the work to potential employers. Any form of reproduction, distribution, or transmission of the software's source code, in part or whole, without the prior written consent of the copyright owner, is strictly prohibited.
-->
<div class="post framed">
    <img src="{{profileImagePath}}" alt="User avatar">
    <div class="post-body">
        <div class="username">
            <a href="/profile/{{userId}}">{{firstName}} {{lastName}}</a>
        </div>
        <div class="post-date">Last posted on {{lastActiveDate}}</div>
    </div>
    <div class="user-follow">
        <div class="post-actions">
            {{^isFollowed}}
            <form method="get" action="/people/{{userId}}/follow/true">
                <button class="fa fa-user-plus"></button>
            </form>
            {{/isFollowed}}
            {{#isFollowed}}
            <form method="get" action="/people/{{userId}}/follow/false">
                <button class="fa fa-user-minus"></button>
            </form>
            {{/isFollowed}}
        </div>
    </div>
</div>