<!--
Copyright (c) 2024 Sami Menik, PhD. All rights reserved.

This is a project developed by Dr. Menik to give the students an opportunity to apply database concepts learned in the class in a real world project. Permission is granted to host a running version of this software and to use images or videos of this work solely for the purpose of demonstrating the work to potential employers. Any form of reproduction, distribution, or transmission of the software's source code, in part or whole, without the prior written consent of the copyright owner, is strictly prohibited.
-->
<div class="container framed">
    <div class="post-form">
        <form method="post" action="/createpost">
            <textarea name="posttext" class="framed" placeholder="Post content with optional #hashtags"></textarea>
            <button type="submit" class="action-button">Make Post</button>
        </form>
        <div class="clear"></div>
    </div>
</div>