<!--
Copyright (c) 2024 Sami Menik, PhD. All rights reserved.

This is a project developed by Dr. Menik to give the students an opportunity to apply database concepts learned in the class in a real world project. Permission is granted to host a running version of this software and to use images or videos of this work solely for the purpose of demonstrating the work to potential employers. Any form of reproduction, distribution, or transmission of the software's source code, in part or whole, without the prior written consent of the copyright owner, is strictly prohibited.
-->
<!DOCTYPE html>
<html lang="en">
{{> fragments/html_header}}

<body>

    <div class="container center-align narrow">
        {{> fragments/error_message}}
        <form method="post" action="/register">
            <input name="firstName" class="short-input full" type="text" placeholder="First Name">
            <input name="lastName" class="short-input full" type="text" placeholder="Last Name">
            <input name="username" class="short-input full" type="text" placeholder="Username">
            <input name="password" class="short-input full" type="password" placeholder="Password">
            <input name="passwordRepeat" class="short-input full" type="password" placeholder="Password Repeat">
            <button type="submit" class="action-button">Register</button>
        </form>
    </div>

    {{> fragments/footer}}

</body>

</html>